li class="user-#{user.id}"
  = link_to user.email, admin_user_path(user)
  - if current_user.admin?
    |
      #{link_to 'Delete', [:admin, user], method: :delete}
      #{link_to 'Edit', edit_admin_user_path(user)}
      #{link_to 'Send user info to email', send_info_admin_user_path(user)}
